<h1>Passo a passo de solução do desafio</h1>

In [69]:
# Lógica de programação
# Passo 0 - Entender o desafio que você quer resolver
# Passo 1 - Percorrer todos os arquivos da pasta base de dados (Pasta vendas)
import os
import pandas as pd
import plotly.express as px
lista_arquivos = os.listdir("Vendas")
# display(lista_arquivos)

tabela_total = pd.DataFrame()
# Passo 2 - Importar as bases de dados de vendas
for arquivo in lista_arquivos:
    # Se tiver "Vendas" no nome do arquivo
    if "Vendas" in arquivo:
        # importando o arquivo
        tabela = pd.read_csv(f"Vendas/{arquivo}")
        tabela_total = tabela_total._append(tabela)
          
# Passo 3 - Tratar / compilar as bases de dados
display(tabela_total)

,Unnamed: 0,SKU,Produto,Quantidade Vendida,Primeiro Nome,Sobrenome,Data,Loja,Preco Unitario,Unnamed: 8
0,5,HL1918,iPhone,4,Sarah,Souza,2/14/2018,São Paulo,5300,NaN
1,6,HL7348,SmartWatch,3,Alexandre,Rodriguez,5/20/2018,São Paulo,1400,NaN
2,9,HL1148,Câmera,3,Camille,Silva,3/26/2018,São Paulo,2100,NaN
3,10,HL1918,iPhone,3,Alon,Palmeira,11/6/2018,São Paulo,5300,NaN
4,18,HL8851,Notebook,4,Leandro,Rodrigues,8/6/2018,São Paulo,3500,NaN
...,...,...,...,...,...,...,...,...,...,...
714,9859,HL2714,Tablet,1,Júlio,Fraga,12/25/2018,Curitiba,1600,NaN
715,9876,HL4379,Televisão,5,Bruno,Mota,4/30/2018,Curitiba,2500,NaN
716,9918,HL1148,Câmera,2,Lucas,Reis,12/27/2018,Curitiba,2100,NaN
717,9944,HL1918,iPhone,5,Raphael,Kurtz,7/16/2018,Curitiba,5300,NaN
718,9998,HL7348,SmartWatch,1,Vinícius,Antunes,12/10/2018,Curitiba,1400,NaN

In [70]:
# Passo 4 - Calcular o produto mais vendido (em quantidade)
tabela_produtos = tabela_total.groupby('Produto').sum()
tabela_produtos = tabela_produtos[["Quantidade Vendida","Preco Unitario"]].sort_values(by="Quantidade Vendida", ascending=True)
display(tabela_produtos)

            Quantidade Vendida  Preco Unitario
Produto
Câmera                    2805         2020200
Tablet                    2921         1556800
SmartWatch                2980         1393000
Android                   3183         3631200
Notebook                  3249         3717000
Televisão                 5931         4905000
iPhone                    8974        15778100

In [71]:
# Passo 5 - Calcular o produto que mais fatirou (em faturamento)
tabela_total['Faturamento'] = tabela_total['Quantidade Vendida'] * tabela_total['Preco Unitario']
tabela_faturamento = tabela_total.groupby('Produto').sum()
tabela_faturamento = tabela_faturamento[["Faturamento"]].sort_values(by="Faturamento", ascending=False)
display(tabela_faturamento)

            Faturamento
Produto
iPhone         47562200
Televisão      14827500
Notebook       11371500
Android        10822200
Câmera          5890500
Tablet          4673600
SmartWatch      4172000

In [72]:
# Passo 6 - Calcular a loja/cidade que mais vendeu (em faturamento) 
tabela_lojas = tabela_total.groupby('Loja').sum()
tabela_lojas = tabela_lojas[['Faturamento']].sort_values(by="Loja", ascending=False)
display(tabela_lojas)

                Faturamento
Loja
São Paulo          22098300
Salvador           13111300
Rio de Janeiro     14867800
Recife              7303000
Porto Alegre        6868600
Goiás               7441800
Fortaleza          14087900
Curitiba            7060500
Belo Horizonte      6480300

In [73]:
# Passo 6 - Calcular a loja/cidade que mais vendeu (em faturamento) 
tabela_lojas = tabela_total.groupby('Loja').sum()
tabela_lojas = tabela_lojas[['Faturamento']].sort_values(by="Loja", ascending=False)
display(tabela_lojas)

                Faturamento
Loja
São Paulo          22098300
Salvador           13111300
Rio de Janeiro     14867800
Recife              7303000
Porto Alegre        6868600
Goiás               7441800
Fortaleza          14087900
Curitiba            7060500
Belo Horizonte      6480300

In [74]:
# - criar gráfico/dashboard
grafico = px.bar(tabela_lojas, x=tabela_lojas.index , y='Faturamento')
grafico.show()

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed