<h1>Passo a passo de solução do desafio</h1>

In [61]:
# Lógica de programação
# Passo 0 - Entender o desafio que você quer resolver
# Passo 1 - Percorrer todos os arquivos da pasta base de dados (Pasta vendas)
import os
import pandas as pd
import plotly.express as px
lista_arquivos = os.listdir("Vendas")
# display(lista_arquivos)

tabela_total = pd.DataFrame()
# Passo 2 - Importar as bases de dados de vendas
for arquivo in lista_arquivos:
    # Se tiver "Vendas" no nome do arquivo
    if "Vendas" in arquivo:
        # importando o arquivo
        tabela = pd.read_csv(f"Vendas/{arquivo}")
        tabela_total = tabela_total._append(tabela)
          
# Passo 3 - Tratar / compilar as bases de dados
display(tabela_total)

,Unnamed: 0,SKU,Produto,Quantidade Vendida,Primeiro Nome,Sobrenome,Data,Loja,Preco Unitario,Unnamed: 8
0,5,HL1918,iPhone,4,Sarah,Souza,2/14/2018,São Paulo,5300,NaN
1,6,HL7348,SmartWatch,3,Alexandre,Rodriguez,5/20/2018,São Paulo,1400,NaN
2,9,HL1148,Câmera,3,Camille,Silva,3/26/2018,São Paulo,2100,NaN
3,10,HL1918,iPhone,3,Alon,Palmeira,11/6/2018,São Paulo,5300,NaN
4,18,HL8851,Notebook,4,Leandro,Rodrigues,8/6/2018,São Paulo,3500,NaN
...,...,...,...,...,...,...,...,...,...,...
714,9859,HL2714,Tablet,1,Júlio,Fraga,12/25/2018,Curitiba,1600,NaN
715,9876,HL4379,Televisão,5,Bruno,Mota,4/30/2018,Curitiba,2500,NaN
716,9918,HL1148,Câmera,2,Lucas,Reis,12/27/2018,Curitiba,2100,NaN
717,9944,HL1918,iPhone,5,Raphael,Kurtz,7/16/2018,Curitiba,5300,NaN
718,9998,HL7348,SmartWatch,1,Vinícius,Antunes,12/10/2018,Curitiba,1400,NaN

In [62]:
# Passo 4 - Calcular o produto mais vendido (em quantidade)
tabela_produtos = tabela_total.groupby('Produto').sum()
tabela_produtos = tabela_produtos[["Quantidade Vendida","Preco Unitario"]].sort_values(by="Quantidade Vendida", ascending=True)
display(tabela_produtos)

            Quantidade Vendida  Preco Unitario
Produto
Câmera                    2805         2020200
Tablet                    2921         1556800
SmartWatch                2980         1393000
Android                   3183         3631200
Notebook                  3249         3717000
Televisão                 5931         4905000
iPhone                    8974        15778100

In [63]:
# Passo 5 - Calcular o produto que mais fatirou (em faturamento)
tabela_total['Faturamento'] = tabela_total['Quantidade Vendida'] * tabela_total['Preco Unitario']
tabela_faturamento = tabela_total.groupby('Produto').sum()
tabela_faturamento = tabela_faturamento[["Faturamento"]].sort_values(by="Faturamento", ascending=False)
display(tabela_faturamento)

            Faturamento
Produto
iPhone         47562200
Televisão      14827500
Notebook       11371500
Android        10822200
Câmera          5890500
Tablet          4673600
SmartWatch      4172000

In [64]:
# Passo 6 - Calcular a loja/cidade que mais vendeu (em faturamento) 
tabela_lojas = tabela_total.groupby('Loja').sum()
tabela_lojas = tabela_lojas[['Faturamento']].sort_values(by="Loja", ascending=False)
display(tabela_lojas)

                Faturamento
Loja
São Paulo          22098300
Salvador           13111300
Rio de Janeiro     14867800
Recife              7303000
Porto Alegre        6868600
Goiás               7441800
Fortaleza          14087900
Curitiba            7060500
Belo Horizonte      6480300

In [1]:
# Passo 6 - Calcular a loja/cidade que mais vendeu (em faturamento) 
tabela_lojas = tabela_total.groupby('Loja').sum()
tabela_lojas = tabela_lojas[['Faturamento']].sort_values(by="Loja", ascending=False)
display(tabela_lojas)

NameError: name 'tabela_total' is not defined

In [2]:
# - criar gráfico/dashboard
grafico = px.bar(tabela_lojas, x=tabela_lojas.index , y='Faturamento')
grafico.show()

NameError: name 'px' is not defined

In [2]:
pip install plotly-express

Collecting plotly-express
  Using cached https://files.pythonhosted.org/packages/d4/d6/8a2906f51e073a4be80cab35cfa10e7a34853e60f3ed5304ac470852a08d/plotly_express-0.4.1-py2.py3-none-any.whl
Collecting pandas>=0.20.0 (from plotly-express)
  Downloading https://files.pythonhosted.org/packages/99/f0/f99700ef327e51d291efdf4a6de29e685c4d198cbf8531541fc84d169e0e/pandas-1.3.5.tar.gz (4.7MB)
     |████████████████████████████████| 4.7MB 5.6MB/s eta 0:00:01:00:01��█████▏                        | 1.1MB 5.6MB/s eta 0:00:01     |███████████████████████████████▊| 4.7MB 5.6MB/s eta 0:00:01
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Collecting scipy>=0.18 (from plotly-express)
  Downloading https://files.pythonhosted.org/packages/58/4f/11f34cfc57ead25752a7992b069c36f5d18421958ebd6466ecd849aeaf86/scipy-1.7.3-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (38.1MB)
     |████████████████████████████████| 38.1MB 10.7MB/s eta 0:00:01
Collecting statsmodels>=0.9.0 (from plotly-express)
  Using cached https://files.pythonhosted.org/packages/a4/7d/a919dbad04ec31741eee6a7f7df4a9a9e57e3b863900e48b079a6b832aab/statsmodels-0.13.5.tar.gz
  Installing build dependencies ... error
  ERROR: Complete output from command /snap/jupyter/6/bin/python /snap/jupyter/6/lib/python3.7/site-packages/pip install --ignore-installed --no-user --prefix /tmp/pip-build-env-telt0m0w/overlay --no-warn-script-location --no-binary :none: --only-binary :none: -i https://pypi.org/simple -- 'setuptools>=59.2.0' 'wheel>=0.37.1' 'cython>=0.29.32,<3' 'oldest-supported-numpy; python_version!='"'"'3.10'"'"' or platform_system!='"'"'Windows'"'"' or platform_python_implementation=='"'"'PyPy'"'"'' 'numpy==1.22.3; python_version=='"'"'3.10'"'"' and platform_system=='"'"'Windows'"'"' and platform_python_implementation != '"'"'PyPy'"'"'' 'numpy; python_version>='"'"'3.11'"'"'' 'scipy>=1.3,<1.8; python_version=='"'"'3.7'"'"'' 'scipy>=1.3,<1.9; python_version=='"'"'3.8'"'"' and platform_system=='"'"'Windows'"'"' and platform_machine=='"'"'x86'"'"'' 'scipy>=1.3,<1.9; python_version=='"'"'3.9'"'"' and platform_system=='"'"'Windows'"'"' and platform_machine=='"'"'x86'"'"'' 'scipy>=1.3,<1.10; (python_version>'"'"'3.9'"'"' or platform_system!='"'"'Windows'"'"' or platform_machine!='"'"'x86'"'"') and python_version<'"'"'3.12'"'"'' 'scipy>=1.9; python_version>='"'"'3.12'"'"'' 'setuptools_scm[toml]>=7.0,<8':
  ERROR: Ignoring numpy: markers 'python_version == "3.10" and platform_system == "Windows" and platform_python_implementation != "PyPy"' don't match your environment
  Ignoring numpy: markers 'python_version >= "3.11"' don't match your environment
  Ignoring scipy: markers 'python_version == "3.8" and platform_system == "Windows" and platform_machine == "x86"' don't match your environment
  Ignoring scipy: markers 'python_version == "3.9" and platform_system == "Windows" and platform_machine == "x86"' don't match your environment
  ERROR: Double requirement given: scipy<1.10,>=1.3 (already in scipy<1.8,>=1.3, name='scipy')
  ----------------------------------------
ERROR: Command "/snap/jupyter/6/bin/python /snap/jupyter/6/lib/python3.7/site-packages/pip install --ignore-installed --no-user --prefix /tmp/pip-build-env-telt0m0w/overlay --no-warn-script-location --no-binary :none: --only-binary :none: -i https://pypi.org/simple -- 'setuptools>=59.2.0' 'wheel>=0.37.1' 'cython>=0.29.32,<3' 'oldest-supported-numpy; python_version!='"'"'3.10'"'"' or platform_system!='"'"'Windows'"'"' or platform_python_implementation=='"'"'PyPy'"'"'' 'numpy==1.22.3; python_version=='"'"'3.10'"'"' and platform_system=='"'"'Windows'"'"' and platform_python_implementation != '"'"'PyPy'"'"'' 'numpy; python_version>='"'"'3.11'"'"'' 'scipy>=1.3,<1.8; python_version=='"'"'3.7'"'"'' 'scipy>=1.3,<1.9; python_version=='"'"'3.8'"'"' and platform_system=='"'"'Windows'"'"' and platform_machine=='"'"'x86'"'"'' 'scipy>=1.3,<1.9; python_version=='"'"'3.9'"'"' and platform_system=='"'"'Windows'"'"' and platform_machine=='"'"'x86'"'"'' 'scipy>=1.3,<1.10; (python_version>'"'"'3.9'"'"' or platform_system!='"'"'Windows'"'"' or platform_machine!='"'"'x86'"'"') and python_version<'"'"'3.12'"'"'' 'scipy>=1.9; python_version>='"'"'3.12'"'"'' 'setuptools_scm[toml]>=7.0,<8'" failed with error code 1 in None
Note: you may need to restart the kernel to use updated packages.